@import "~bootstrap/scss/bootstrap";

.App {
  height: 100%;
  width: 100%;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mask {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 65px);
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.fullheight {
  height: calc(100vh - 65px);
}

.card-effect {
  transition: all 0.5s ease;
}
.card-hover:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.detail {
  height: calc(100vh - 65px);
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}

.fs-small {
  font-size: 0.8rem;
}

.text-red {
  color: rgb(197, 15, 21);
}
